asgiref==3.8.1
click==8.1.7
colorama==0.4.6
dj-database-url==2.0.0
Django==5.1a1
django-debug-toolbar==4.4.2
django-dump-die==0.1.7
django-seed==0.3.1
Faker==25.8.0
fuzzywuzzy==0.18.0
joblib==1.4.2
Levenshtein==0.25.1

nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
psycopg2-binary==2.9.9
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
python-dotenv==1.2.2
pytz==2024.1
rapidfuzz==3.9.3
regex==2024.5.15
Sastrawi==1.0.1
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
sqlparse==0.5.0
thefuzz==0.22.1
threadpoolctl==3.5.0
toposort==1.10
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
