<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Gulugulu</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/120px-Google_%22G%22_logo.svg.png" type="image/x-icon">
    {% block styles %}

    {% endblock styles %}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>#}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css"/>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<main>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content %}
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>